
:root {
    --color-1: #1D2026;
    --color-2: #072359;
    --color-3: #4E8AD9;
    --color-4: #F2F2F1;
    --text-body: 'Noto Serif Tangut', sans-serif;
    --text-title: 'Badelosh Ralintesla', sans-serif;
}

/* Body */

.img {
    background-color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-body);
    background-color: var(--color-4);
    color: var(--color-1);
}